<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pythoplankton - Living Style Guide</title>
    <link rel="stylesheet" href="styles/css/main.css">
    <link rel="stylesheet" href="styles/css/kaleistyleguide.css">
    <link rel="stylesheet" href="styles/css/prism.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/normalize.css@7.0.0"> -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oxygen:400,700">
</head>
<body>
    <div class="main">
        <!-- <div class="header js-header">header</div> -->
        <div class="phytoplankton-menu js-phytoplankton-menu">
            <ul class="phytoplankton-menu__list">
                <menu-item
                    v-for="item in items"
                    v-bind:menu="item"
                    v-bind:key="item.id">
                </menu-item>
            </ul>
        </div>
        <div class="phytoplankton-page js-phytoplankton-page">
            <!-- <div class="phytoplankton-page__item" v-html="compiledMarkdown"></div> -->
            <div class="phytoplankton-page__loader js-phytoplankton-page__loader" v-if="seen">{{ message }}</div>
            <div class="phytoplankton-page__item" v-for="block in blocks" v-html="block.docs"></div>
        </div>
    </div>

    <script src="http://vuejs.org/js/vue.js"></script>
    <script src="scripts/libs/marked.js"></script>
    <script src="scripts/libs/gonzales-pe.js"></script>
    <script src="scripts/libs/gumshoe.min.js"></script>
    <script src="scripts/libs/smooth-scroll.min.js"></script>
    <script src="scripts/libs/prism.js"></script>
    <script src="scripts/libs/fixie.js"></script>
    <script src="scripts/libs/separate.js"></script>
    <script src="scripts/config.js"></script>
    <!-- <script src="scripts/getFiles.js"></script> -->
    <script src="scripts/main.js"></script>
</body>
</html>
