body {
  color: #212121;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oxygen", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code,
kbd,
pre,
samp {
  font-family: Consolas, Monaco, "Andale Mono", monospace;
}

pre {
  position: relative;
}

blockquote {
  border-left: 4px solid #b6b6b6;
  color: #b6b6b6;
  margin: 40px;
  margin: 2.5rem;
  padding-left: 12px;
  padding-left: 0.75rem;
}

blockquote p {
  display: inline;
}

blockquote:before {
  content: open-quote;
}

blockquote:after {
  content: close-quote;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

td,
th {
  border: 1px solid #ccc;
  padding: 8px;
  padding: 0.5rem;
}

.phytoplankton-page p,
.phytoplankton-page ul,
.phytoplankton-page ol,
.phytoplankton-page pre,
.phytoplankton-page table,
.phytoplankton-page blockquote {
  margin-bottom: 22px;
  margin-top: 22px;
  margin-bottom: 1.375rem;
  margin-top: 1.375rem;
}
.phytoplankton-page p a,
.phytoplankton-page ol a,
.phytoplankton-page ul a {
  color: #4caf50;
  text-decoration: none;
  white-space: normal;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  transition: color .25s ease-in-out;
}
.phytoplankton-page p a:hover,
.phytoplankton-page ol a:hover,
.phytoplankton-page ul a:hover {
  color: #00796b;
  text-decoration: underline;
}
.phytoplankton-page p code,
.phytoplankton-page ol code,
.phytoplankton-page ul code {
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  font-size: 14px;
  line-height: 17px;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin-left: 2px;
  margin-left: 0.125rem;
  margin-right: 2px;
  margin-right: 0.125rem;
  padding-bottom: 2px;
  padding-bottom: 0.125rem;
  padding-left: 4px;
  padding-left: 0.25rem;
  padding-top: 2px;
  padding-top: 0.125rem;
  padding-right: 4px;
  padding-right: 0.25rem;
  white-space: normal;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.phytoplankton-page p ul,
.phytoplankton-page ol ul,
.phytoplankton-page ul ul {
  list-style-type: disc;
}
.phytoplankton-page pre {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  z-index: 1;
  font-size: 14px;
  line-height: 16.8px;
  font-size: 0.875rem;
  line-height: 1.05rem;
  padding-top: 16px;
  padding-top: 1rem;
}
.phytoplankton-page pre:not([class*="language-"]) {
  padding: 16px;
  padding: 1rem;
}

.phytoplankton-page table {
  border-radius: 2px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  z-index: 1;
}

.phytoplankton-tabs {
  background-color: #272822;
  color: #f8f8f2;
  list-style-type: none;
  margin: 0 !important;
  padding-left: 16px;
  padding-left: 1rem;
  position: relative;
  text-transform: uppercase;
  z-index: 2;
}
.phytoplankton-tabs ~ pre {
  border-radius: 0 0 2px 2px;
  display: none;
  margin-top: 0 !important;
  padding-top: 0 !important;
}
.phytoplankton-tabs ~ pre.is-active {
  display: block;
}
.phytoplankton-tabs .svg-icon path,
.phytoplankton-tabs .svg-icon polygon,
.phytoplankton-tabs .svg-icon rect {
  fill: #fff;
}

.phytoplankton-tabs__item {
  cursor: pointer;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  opacity: .5;
  transition: opacity .25s ease-in-out;
  padding: 8px;
  padding: 0.5rem;
}
.phytoplankton-tabs__item.is-active {
  cursor: default;
  opacity: 1;
}
.phytoplankton-tabs__item:hover {
  opacity: 1;
}

.code-lang {
  background-color: #272822;
  color: #f8f8f2;
  padding: 8px;
  padding: 0.5rem;
  text-transform: uppercase;
  text-shadow: none;
}

.code-render {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  position: relative;
  z-index: 1;
  border-radius: 2px 2px 0 0;
  margin-left: 1px;
  margin-left: 0.0625rem;
  margin-right: 1px;
  margin-right: 0.0625rem;
  padding: 75px 40px 40px 40px;
  padding: 4.6875rem 2.5rem 2.5rem 2.5rem;
  position: relative;
}
.code-render + pre {
  border-radius: 0 0 2px 2px;
  margin-top: 0;
}
.code-render:before {
  background-color: #272822;
  border-radius: 2px 0 0 0;
  color: #f8f8f2;
  content: "Example";
  left: 0;
  padding: 8px;
  padding: 0.5rem;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.copy-to-clipboard {
  color: #f8f8f2;
  cursor: pointer;
  padding: 8px;
  padding: 0.5rem;
  position: absolute;
  right: 16px;
  right: 1rem;
  top: 0;
  z-index: 10;
}
.copy-to-clipboard + .copy-to-clipboard {
  display: none;
}
.copy-to-clipboard.is-active {
  display: block;
}
.copy-to-clipboard:hover .tooltip {
  opacity: 1;
}

// .main {
// }

// .header {
// }

.nav {
    float: left;
    width: 25%;
}

.nav a.is-active {
    font-weight: bold;
}

.section {
    float: left;
    width: 75%;
}

:not(pre) > code,
pre,
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822;
  color: #f8f8f2;
  /* This is a "feature" that doesn't  come with the default plugin. */
}